plan9.log
plan9-reverse.log
state
state.old
state.journal
*.o
*.a
man/man?/*.html
src/**/o.*
y.tab.[ch]
src/cmd/rc/x.tab.h
unix/*.tgz
bin/
log/
dict/
postscript/font/
*.orig
config
install.log
install.sum
last-change
src/cmd/awk/y.output
src/cmd/devdraw/latin1.h
sky/abell.scat
sky/bayer.scat
sky/con.scat
sky/conindex.scat
sky/here
sky/mindex.scat
sky/name.scat
sky/ngc2000.scat
sky/ngc2000type.scat
sky/patch.scat
sky/patchindex.scat
sky/sao.scat
